{% extends 'layout.html.twig' %}

{% block title %}
    Aide Dom'
{% endblock %}

{# ========================================================header====================================================== #}
{% block header %}
    {#<div class="container-fluid">
        <div class="row align-middle">
            <div class="col align-middle">#}
    <nav class="navbar navbar-expand-sm align-middle">
        <ul class="navbar-nav align-middle">
            <li class="nav-item active align-middle">
                <a class="nav-link" href="/Home/index"><img src="/assets/images/Logo.png" width="110px" height="auto"></a>
            </li>
            <li class="link_service_page">
                <a class="nav-link" href="/Service/index">Nos services</a>
            </li>
            <li class="link_service_page">
                <a class="nav-link" href="/QuiSommesNous/index">Qui sommes nous</a>
            </li>
        </ul>
    </nav>
    {#</div>
</div>
</div>#}
{% endblock %}
{# ========================================= contenu mention légales ==========================================================================#}
    {% block contenu_politique_confidentialite %}

        <div class="texte_politique_confidentialite">
            <h2>Politique de confidentialité</h2>

            <p>Aide Dom s’engage, dans le cadre de ses activités et conformément à la législation en vigueur en France et en Europe, à assurer la protection, la confidentialité et la sécurité des données à caractère personnel des utilisateurs de ses services, ainsi qu’à respecter leur vie privée.</p>

            <p>La présente Politique vous informe sur la façon dont Aide Dom, ses sous-traitants et ses éventuels partenaires traitent vos données personnelles.</p>

            <p>Cette Politique est notamment applicable aux clients, prospects, candidats de Aide Dom ainsi qu’aux visiteurs des différents sites internet et blogs du Groupe.</p>

            <p>Elle est susceptible d’être complétée par des informations spécifiques portées à la connaissance de l’utilisateur, s’agissant d’une offre ou d’un service particulier.</p>
            <p>Quelles sont les données traitées ?</p>

            <p>Selon le cas, Aide Dom traite vos données personnelles, directement collectées auprès de vous ou résultant de l’utilisation des services. Aide Dom est également susceptible d’être destinataire de données qui ont été collectées auprès de vous par un tiers.</p>
            <p>Aide Dom ne traite une donnée ou une catégorie de données que si elle est strictement nécessaire à la finalité poursuivie. Vous pouvez retrouver des informations sur ces finalités ci-dessus.</p>

            <p>Aide Dom traite les catégories de données suivantes :</p>

            <p>Données d’identification : nom, prénom</p>
            <p>Caractéristiques personnelles : date de naissance, nationalité…</p>
            <p>Données de contact : adresse postale, email, numéro de téléphone…</p>
            <p>Vie personnelle : centres d’intérêts, statut marital, questions ou commentaires postés sur les blogs…</p>
            <p>Données économiques et financières : moyens de paiement, historique des règlements…</p>
            <p>Données de gestion de la relation client : avis sur nos services, historique des réclamations ou litiges</p>
            <p>Données de connexion, d’usage des services et d’interaction : Logs de connexion, et d’usage, compte rendu d’intervention…</p>
            <p>Données liées à la réalisation de la prestation : cahier des charges, fiches de mission…</p>
            <p>Profils permettant la segmentation client</p>
            <p>Données de localisation</p>

            <p>Pourquoi Aide Dom traite vos données ?</p>

            <p>Aide Dom ne traite les données personnelles que pour des finalités déterminées, explicites et légitimes.</p>

            <p>Aide Dom traite vos données dans le cadre d’une demande de devis ou de l’exécution d’un contrat</p>

            <p>À cet effet, les finalités poursuivies par Aide Dom sont les suivantes :</p>

            <p>Gérer l’identité du client ou du visiteur et l’authentifier</p>
            <p>Gérer les données personnelles, caractéristiques et droits d’un contrat</p>
            <p>Proposer un devis personnalisé</p>
            <p>Gérer la prestation</p>
            <p>Facturer les clients</p>
            <p>Gérer les réclamations</p>
            <p>Gérer les résiliations et les suspensions de contrat</p>
            <p>Recouvrer les impayés</p>
            <p>Sonder les clients dans le cadre de notre démarche qualité</p>

            <p>Vos données sont conservées pour la durée nécessaire à l’accomplissement des finalités mentionnées ci-dessus.</p>

            <p>En ce qui concerne ces finalités, les données peuvent être conservées au maximum pour une durée de trois ans à compter de la date</p>

            <p>De réception du devis pour les prospects</p>
            <p>De la fin de la relation contractuelle pour les clients</p>

            <p>Aide Dom traite vos données dans le cadre d’une candidature</p>

            <p>À cet effet, les finalités poursuivies par Aide Dom sont les suivantes :</p>

            <p>Etudier les candidatures</p>
            <p>Répondre aux candidats</p>
            <p>Contacter les candidats retenus en vue d’un entretien</p>
            <p>Embaucher les candidats retenus et préparer leur contrat de travail</p>
            <p>Recontacter les candidats en cas de nouvelle opportunité</p>

            <p>Vos données sont conservées pour la durée nécessaire à l’accomplissement des finalités mentionnées ci-dessus. S’agissant des traitements relatifs à la gestion des candidatures, les données peuvent être conservées au maximum pour une durée de deux ans.</p>

            <p>Aide Dom réalise également des traitements de données pour d’autres finalités que la stricte exécution des contrats. Dans ce cas, Aide Dom s’assure d’avoir un intérêt légitime à réaliser le traitement.</p>

            <p>À cet effet, les finalités poursuivies par le Groupe A2micile sont les suivantes :</p>

            <p>Organiser des opérations de marketing direct</p>
            <p>Organiser des animations commerciales</p>
            <p>Organiser des jeux concours ou tirages au sort</p>
            <p>Apporter du contenu éditorial</p>
            <p>Proposer des offres promotionnelles personnalisées</p>
            <p>Analyser les usages des offres et des services pour faire des propositions au client</p>
            <p>Améliorer les offres et la relation client</p>

            <p>Vos données sont conservées pour la durée nécessaire à l’accomplissement des finalités mentionnées ci-dessus au maximum pour une durée de trois ans.</p>

            <p>Aide Dom traite également vos données pour répondre à ses obligations légales ou réglementaires.</p>

            <p>À cet effet, les finalités poursuivies par Aide Dom sont les suivantes :</p>

            <p>Conserver les données requises pour être en mesure de répondre aux obligations légales</p>
            <p>Gérer les demandes de communication de données des autorités habilitées</p>
            <p>Produire et transmettre l’attestation fiscale</p>

            <p>Vos données peuvent être conservées le temps nécessaire pour permettre aAide Dom de répondre à ses obligations légales au maximum pour une durée de trois ans.</p>

            <p>Aide Dom est également susceptible de réaliser des traitements de vos données à des fins statistiques.</p>

            <p>Quels sont les destinataires de vos données ?</p>
            <p>Les données collectées sont destinées aux services internes de Aide Dom et à ses sous-traitants.</p>
            <p>Les données peuvent également être traitées par des partenaires de Aide Dom. Il s’agit des situations où des partenaires interviennent pour la fourniture de services.</p>
            <p>Les données traitées peuvent enfin, être transmises aux autorités compétentes, à leur demande, dans le cadre de procédures judiciaires, dans le cadre de recherches judiciaires et de sollicitations d’information des autorités ou afin de se conformer à d’autres obligations légales.</p>

            <p>Vos données sont-elles traitées hors UE ?</p>
            <p>Les données collectées sont traitées au sein de l’Union Européenne. Nos serveurs sont protégés et situés en France.</p>

            <p>Quels sont vos droits ?</p>
            <p>Vous disposez d’un droit d’accès, de rectification et de suppression des données qui vous concernent. Vous avez également le droit de vous opposer aux traitements réalisés ou d’en demander la limitation.</p>
            <p>Vous pouvez émettre des directives sur la conservation, la suppression ou la communication de vos données personnelles après votre décès.</p>
            <p>Règle spécifique au démarchage téléphonique: tout consommateur peut s’inscrire gratuitement sur une liste d’opposition dénommée « Bloctel » afin de ne plus être démarché téléphoniquement par un professionnel avec lequel il n’a pas de relation contractuelle en cours. Le consommateur peut s’inscrire sur le site www.bloctel.gouv.fr ou par courrier adressé à : Société Opposetel, Service Bloctel, 6, rue Nicolas Siret – 10 000 Troyes</p>

            <p>Comment exercer vos droits ?</p>
            <p>Vous pouvez exercer vos droits à tout moment, ainsi que contacter le Délégué à la Protection des Données personnelles aux adresses ci-dessous.</p>

            <p>Possibilité de saisir la CNIL</p>
            <p>Si vos échanges avec le Groupe A2micile n’ont pas été satisfaisants, vous avez la possibilité d’introduire une réclamation auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL), autorité de contrôle en charge du respect des obligations en matière de données à caractère personnel en France.</p>

            <p>Comment vos données sont-elles sécurisées ?</p>
            <p>Le Groupe Aide Dom s’assure que vos données sont traitées en toute sécurité et confidentialité, y compris lorsque certaines opérations sont réalisées par des sous-traitants. A cet effet les mesures techniques et organisationnelles appropriées pour éviter la perte, la mauvaise utilisation, l’altération et la suppression des données personnelles vous concernant sont mises en place. Ces mesures sont adaptées selon le niveau de sensibilité des données traitées et selon le niveau de risque que présente le traitement ou sa mise en œuvre.</p>

            <p>La présente Politique de protection des données personnelles peut être amenée à évoluer.</p>
            <p>Modification de la Politique de protection des données – Dernière mise à jour le 28/06/2018</p>
        </div>

    {% endblock %}

{#=====================================FOOTER============================================#}

{% block footer %}
    <nav class="footer footer-expand-lg">
        <ul class="footer_nav">
            <li class="foot_item active">
                <a class="foot_link" href="/Contact/index">Contact</a>
            </li>
            <li class="foot_item active">
                <a class="foot_link" href="/Mentions/index">Mentions légales</a>
            </li>
            <li class="foot_item active">
                {# {% if session.username === 'ADMIN' %} #}
                {# <a class="foot_link" href="Admin/index">Espace administrateur</a> #}
                {# {% else %} #}
                <a class="foot_link" href="/Admin/login">Espace administrateur</a>
                {# {% endif %} #}

            </li>
            <div class="fb_logo foot_item">
                <a href="https://www.facebook.com/" target="_blank" class="link_social_network"><img class="logo_social_network" src="/assets/images/facebook.png" alt="logo facebook"></a>
            </div>
            <div class="insta_logo foot_item">
                <a href="https://www.instagram.com/" target="_blank" class="link_social_network"><img class="logo_social_network" src="/assets/images/instagram.png" alt="logo instagram"></a>
            </div>
            <div class="twit_logo foot_item">
                <a href="https://twitter.com/" target="_blank" class="link_social_network"><img class="logo_social_network" src="/assets/images/twi.png" alt="logo twitter"></a>
            </div>
            <div class="twit_logo foot_item">
                <a href="https://tinder.com/?lang=fr/" target="_blank" class="link_social_network"><img class="logo_social_network" src="/assets/images/logo_tinder.png" alt="logo tinder"></a>
            </div>
        </ul>
        </div>
    </nav>

{% endblock %}


{# ========================================================javascript====================================================== #}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
