{% extends 'layout.html.twig' %}

{% block content %}
    <h4>Edit item {{ item.title }}</h4>
{#    {% include 'Item/_form.html.twig' %}#}
    <a href="/item/show/{{ item.id }}">Back</a>
{% endblock %}
